# MongoDB Atlas Connection
MONGODB_URI=mongodb+srv://<username>:<password>@unthinkabledelivery.04xg88g.mongodb.net/unthinkable_delivery

# Port Number
PORT=5000

# Authentication Secret
JWT_SECRET=your_jwt_secret_signature

# Email Configuration (Nodemailer)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# SMS Configuration (Fast2SMS)
FAST2SMS_API_KEY=

# Production Frontend CORS URL
FRONTEND_URL=
